@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  text-align: center;
}

#top {
  /* background-color: #e0ebe8;  */
  text-align: center;
  overflow: hidden;
  padding-top: 30px;
}

.cloud1 {
  position: relative;
  /* transition: all 1s ease-in-out; */
  height: 100px;
  /* margin-left:3%; */
  top: 100px;
}

.intro {
  /* width: 40%; */
  color: #11999e;
  font-family: sans-serif;
  margin: 3% auto 1% auto; /*top -right-bottom-left*/
  font-size: 200%;
  color: #66bfbf;
}

.birds {
  position: absolute;
  transition: all 1s ease-in-out;
  /* top: 300px; */
  right: 100px;
  width: 150px;
  height: 130px;
}

.bird {
  transition: all 1s ease-in-out;
  left: 100px;
  top: 54%;
  height: 20px;
  position: absolute;
}

.bird2 {
  transition: all 1s ease-in-out;
  left: 250px;
  top: 60%;
  height: 20px;
  position: absolute;
}

.mountains {
  position: relative;
  margin-top: 100px;
  /* height: 400px; */
}

.desc {
  font-family: "Merienda", cursive;
  font-size: 1rem;
  font-weight: normal;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 100ms ease;
   transition-property: opacity;
}

html,body {
  cursor: none
}
html *,body * {
  cursor: none;
}
.c--hidden {
   opacity: 0;
}

.cursor--link-hovered {
   transform: translate(-50%, -50%) scale(1.25);
}

