@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  text-align: center;
}

#top {
  /* background-color: #e0ebe8;  */
  text-align: center;
  overflow: hidden;
  padding-top: 30px;
}

.cloud1 {
  position: relative;
  /* transition: all 1s ease-in-out; */
  height: 100px;
  /* margin-left:3%; */
  top: 100px;
}

.intro {
  /* width: 40%; */
  color: #11999e;
  font-family: sans-serif;
  margin: 3% auto 1% auto; /*top -right-bottom-left*/
  font-size: 200%;
  color: #66bfbf;
}

.birds {
  position: absolute;
  transition: all 1s ease-in-out;
  /* top: 300px; */
  right: 100px;
  width: 150px;
  height: 130px;
}

.bird {
  transition: all 1s ease-in-out;
  left: 100px;
  top: 54%;
  height: 20px;
  position: absolute;
}

.bird2 {
  transition: all 1s ease-in-out;
  left: 250px;
  top: 60%;
  height: 20px;
  position: absolute;
}

.mountains {
  position: relative;
  /* margin-top: 100px; */
  margin-bottom: 5px;
  height: 100%;
  width: 100%;
}

.desc {
  font-family: "Merienda", cursive;
  font-size: 1rem;
  font-weight: normal;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 100ms ease;
  transition-property: opacity;
}

/* ---- for mouse pointer --- */

html,
body {
  cursor: none;
}
html *,
body * {
  cursor: none;
}
.c--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
}

@media only screen and (min-width: 600px) {
  .ring {
    /* cursor: pointer; */
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    /* background-color: rgba(31, 30, 30, 0.4); */
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
  }
  .dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    /* background-color: grey; */
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
  }
  .ring.hovered {
    width: 80px;
    height: 80px;
    border-width: 3px;
    background-color: transparent;
  }
  /* .dot.hovered {
  display: none;
} */
  .ring.default {
    background-color: white;
    /* border-color: rgb(119, 255, 203); */
    border: 3px solid black;
  }

  .dot.default {
    background-color: black;
  }

  .ring.light {
    background-color: white;
    border-color: black;
    border: 3px solid black;
  }
  .ring.dark {
    background-color: black;
    border-color: white;
    border: 2px solid white;
  }

  .dot.light {
    background-color: black;
  }
  .dot.dark {
    background-color: white;
  }

  .ring.hovered.light {
    border-color: grey;
    background-color: transparent;
  }

  .ring.hovered.dark {
    border-color: whitesmoke;
    background-color: transparent;
  }

  .ring.disabled {
    cursor: pointer;
    display: none;
  }


  .dot.hovered {
    display: none;
  }

}
/* ----- for scroll-bars ----- */
:root {
  --primary: #1c6854;
  --secondary: #71f7c0;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
  border: 3px solid var(--primary);
}
